input[data-v-2ac7c920]{border:1px solid #d1d5db;border-radius:4px;font-family:inherit;font-size:inherit;padding:1px 4px;width:98%}@media print{input[data-v-2ac7c920]{background-color:transparent;border:none;padding:1px 4px;width:98%}}
