@import "tailwindcss";

body {
    font-family: 'Calibri', sans-serif;
}

.container {
    max-width: clamp(300px, 90%, 1320px);
    margin: 0 auto;
}

@media print {
    body {
        font-size: 11pt;
        -webkit-print-color-adjust: exact;
    }

    .dont-break {
        page-break-inside: avoid;
    }

    .dont-print {
        display: none;
    }

    .container {
        max-width: 100%;
        padding: 0;
    }
}
