@import "tailwindcss";

body {
    font-family: 'Calibri', sans-serif;
}

@media print {
    body {
        font-size: 11pt;
        -webkit-print-color-adjust: exact;
    }

    .dont-break {
        page-break-inside: avoid;
    }

    .dont-print {
        display: none;
    }
}
